{% extends 'base.html' %}

{% block title %}
	<title>Edit Form</title>
{% endblock title %}

{% block content %}
	<br>
	<div>
		<form method="POST">
			{% csrf_token %}
			<div class="container">
			  <div class="row">
			    <div class="col-2"><button type="text" class="btn btn-dark">খরিদ্দারের তথ্য</button></div>
			    <div class="col-3"><input type="text" class="form-control" name="name" value="{{ edit_obj.name }}"></div>
			    <div class="col-3"><input type="text" class="form-control" name="mobile" value="{{ edit_obj.mobile }}"></div>
			    <div class="col-2"><input type="text" class="form-control" name="jer" value="{{ baki }}"></div>
			    <div class="col-2"><button type="submit" class="btn btn-primary">পরিবর্তন</button></div>
			  </div>
		</form>
	</div>
{% endblock content %}